body h1 {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  color: #0094d2; }
  body h1 em {
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
    font-weight: 600; }
body h2 {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  color: #0094d2; }
  body h2 em {
    font-family: "source-sans-pro",sans-serif;
    font-style: italic;
    font-weight: 300; }
body h3 {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  color: #9c1110; }
  body h3 em {
    font-family: "source-sans-pro",sans-serif;
    font-style: italic;
    font-weight: 600; }
body h4 {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #737900; }
body p {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9b9b9b; }
  body p em {
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
    font-weight: 400; }
body li {
  font-family: "myriad-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9b9b9b !important; }
body a {
  font-family: inherit;
  font-size: inherit;
  color: #0094d2; }

data-slide-index {
  display: none; }

footer {
  background: #F4F6C7;
  border-top: #d6df23 solid 4px; }

input[type="text"].email-capture {
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 8px 0px 0px 8px;
  background: #FFFFFF;
  border: 1px solid #D6DF23;
  display: inline-block; }
input[type="text"].mobile-search-input {
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 10px 0px 0px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #0094D2; }
input[type="text"].name-capture {
  border-radius: 8px;
  background: #FFFFFF;
  border: 1px solid #D6DF23;
  margin-top: 1.5px; }
input[type="text"].search-bar-input {
  -webkit-border-radius: 8px 0px 0px 8px;
  border-radius: 10px 0px 0px 10px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid #0094D2;
  padding-right: 53px; }

nav#main-nav {
  overflow: visible;
  text-align: center;
  margin: 0;
  position: relative;
  height: 100px;
  background: #FFFFFF;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }
  nav#main-nav > ul {
    height: 100px;
    list-style: none;
    margin: 0; }
    nav#main-nav > ul > li {
      position: relative;
      display: inline;
      top: 3px; }
      nav#main-nav > ul > li > a {
        font-family: "source-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        text-transform: uppercase;
        color: #0094d2;
        display: inline-block;
        padding: 10px; }
      nav#main-nav > ul > li:nth-child(1) a {
        padding-right: 35px; }
      nav#main-nav > ul > li:nth-child(2) a {
        padding-right: 35px; }
      nav#main-nav > ul > li:nth-child(3) a {
        padding-right: 35px; }
      nav#main-nav > ul > li:nth-child(4) {
        top: 0;
        z-index: 99; }
        nav#main-nav > ul > li:nth-child(4) a {
          margin-top: -106px; }
      nav#main-nav > ul > li:last-child .dropdown-menu {
        left: auto;
        right: 0;
        text-align: right; }
        nav#main-nav > ul > li:last-child .dropdown-menu ul li a {
          float: right !important; }
        nav#main-nav > ul > li:last-child .dropdown-menu > .dropdown-submenu > a:after {
          border: none;
          content: none;
          margin-right: 0; }
        nav#main-nav > ul > li:last-child .dropdown-menu > .dropdown-submenu > a:before {
          content: " ";
          display: block;
          float: left;
          width: 0;
          height: 0;
          margin-top: 10px;
          border-color: transparent;
          border-right-color: white;
          border-style: solid;
          border-width: 5px 5px 5px 0; }
        nav#main-nav > ul > li:last-child .dropdown-menu > .dropdown-submenu .dropdown-menu {
          top: 0;
          right: 99%; }
  nav#main-nav .dropdown-menu {
    border-color: transparent;
    background-color: #85c2bd;
    text-align: left;
    min-width: 200px; }
    nav#main-nav .dropdown-menu li a {
      font-size: 14px;
      color: white;
      line-height: 2; }
  nav#main-nav .dropdown-submenu .dropdown-menu {
    background-color: #4b9690; }

ul li {
  color: #666666; }

.after-blog-content {
  margin-bottom: 20px; }
  .after-blog-content h4 {
    border-bottom: 1px solid #d6df23;
    padding-bottom: 10px;
    margin-bottom: 25px;
    margin-top: 40px;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    color: #0094d2; }
  .after-blog-content h5 {
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
    font-weight: 600;
    color: #d6df23;
    font-size: 24px;
    margin-top: 0; }
  .after-blog-content h6 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    color: #0094d2;
    font-size: 18px;
    text-align: center; }
  .after-blog-content img {
    margin-bottom: 20px; }

.animated {
  -webkit-animation-duration: .25s;
  -moz-animation-duration: .25s;
  -o-animation-duration: .25s;
  animation-duration: .25s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadeIn {
  0% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; }

  100% {
    border-bottom: black solid 1px; } }

@-moz-keyframes fadeIn {
  0% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; }

  100% {
    border-bottom: black solid 1px; } }

@-o-keyframes fadeIn {
  0% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; }

  100% {
    border-bottom: black solid 1px; } }

@keyframes fadeIn {
  0% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; }

  100% {
    border-bottom: black solid 1px; } }

.animated.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn; }

@-webkit-keyframes fadeOut {
  0% {
    border-bottom: black solid 1px; }

  100% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; } }

@-moz-keyframes fadeOut {
  0% {
    border-bottom: black solid 1px; }

  100% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; } }

@-o-keyframes fadeOut {
  0% {
    border-bottom: black solid 1px; }

  100% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; } }

@keyframes fadeOut {
  0% {
    border-bottom: black solid 1px; }

  100% {
    border-bottom: rgba(0, 0, 0, 0) solid 1px; } }

.animated.fadeOut {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -o-animation-name: fadeOut;
  animation-name: fadeOut; }

.blog-image-head {
  background-image: url(../img/sm-clouds.png) bottom center 0px no-repeat; }

.blog-older {
  padding-top: 30px; }
  .blog-older h2 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    margin: inherit 0; }
  .blog-older h4 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666666;
    font-size: 14px;
    padding: 0;
    margin: inherit 0; }

.btn-search-filter {
  float: right;
  border-radius: 8px;
  background: #0094d2;
  background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
  border: 1px solid #0094D2;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-shadow: none; }
  .btn-search-filter:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
    border: 1px solid #D1DA22;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    text-shadow: none;
    background-position: 0; }

.calendar-download {
  font-family: "source-sans-pro",sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 11pt;
  padding: 10px 34px 0 8px;
  display: block;
  color: #666666;
  background: url(../img/add-to-calendar-icon-2.png) no-repeat right bottom; }

.caret {
  border-top: 4px solid #0094d2;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent; }

.comment-post {
  margin-bottom: 20px; }
  .comment-post h5 {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #0094d2;
    font-size: 26px;
    padding-bottom: 10px; }
  .comment-post p {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding-bottom: 15px; }
  .comment-post .comment-info {
    display: inline;
    color: #d6df23;
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 14px; }
    .comment-post .comment-info a {
      display: inline;
      color: #d6df23;
      font-family: "myriad-pro",sans-serif;
      font-style: italic;
      font-weight: 400;
      font-size: 14px; }

.copyright {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #737900; }

.cta-btn {
  border-radius: 8px;
  background: #0094d2;
  background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
  border: 1px solid #0094D2;
  -moz-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  float: right;
  text-shadow: none;
  margin-top: 10px; }
  .cta-btn:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
    border: 1px solid #D1DA22;
    -moz-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    float: right;
    text-shadow: none;
    background-position: 0; }

.date-box {
  background-color: white;
  padding: 10px 4px; }
  .date-box h6 {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40pt;
    text-align: center;
    color: #0094d2;
    border-bottom: 2px solid #0094d2;
    padding-bottom: 20px; }
  .date-box h5 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt;
    text-align: center;
    color: #0094d2;
    text-transform: uppercase;
    padding-top: 10px; }

.doormat-content-blocks {
  padding: 0 20px 30px 20px; }
  .doormat-content-blocks h3 {
    border-bottom: 1px solid #d6df23;
    margin-bottom: 25px;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pt;
    color: #0094d2; }
  .doormat-content-blocks h4 {
    margin-bottom: 0;
    font-size: 13pt; }
    .doormat-content-blocks h4 a {
      color: #737900;
      font-size: 12pt; }
  .doormat-content-blocks .date {
    text-transform: uppercase;
    color: #0094d2;
    font-size: 12pt;
    display: inline; }
  .doormat-content-blocks .author {
    color: #0094d2;
    font-size: 12pt;
    display: inline; }
    .doormat-content-blocks .author:before {
      content: "\2022";
      padding: 0 3px;
      margin: 0; }
  .doormat-content-blocks form {
    padding-top: 10px;
    margin-bottom: 0; }
  .doormat-content-blocks .footer-logo {
    margin-top: 20px;
    float: left; }

.dropdown:focus {
  outline: 0;
  text-decoration: none; }
.dropdown a:focus {
  outline: 0;
  text-decoration: none; }

.dropdown-menu {
  border-color: transparent;
  background-color: #85c2bd;
  text-align: left; }
  .dropdown-menu li a {
    color: white; }

.dropdown-submenu a:after {
  border-left-color: white;
  margin-top: 8px; }
.dropdown-submenu.pull-left .dropdown-menu {
  margin-left: 0; }
.dropdown-submenu.pull-left a {
  font-size: 14px; }

.dropdown-submenu a:after {
  margin-right: 0 !important; }

.dropdown-toggle {
  cursor: pointer; }

.event-1 {
  background-color: #85c2bd; }

.event-container {
  min-height: 140px !important;
  padding: 10px;
  margin-top: 26px;
  -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); }

.events-inner {
  padding-top: 75px; }

.events-secondary-rows {
  padding-top: 25px; }

.filter-by {
  border: 1px solid #d6df23;
  border-radius: 8px;
  padding: 4.5px 7px;
  display: block;
  margin: 0 0 15px 0;
  background-color: white; }

.filter-dropdown {
  padding-top: 6px; }

.filter-dropdown-menu {
  width: 100%; }

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden; }

.flex-video.widescreen {
  padding-bottom: 57.25%; }

.flex-video.vimeo {
  padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.footer-nav ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
  margin: 10px 0; }
  .footer-nav ul li {
    display: inline-block; }
    .footer-nav ul li a {
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      color: #737900; }
    .footer-nav ul li:before {
      content: "\2022";
      color: #737900;
      margin: 0 8px; }
    .footer-nav ul li:first-child {
      margin-left: 0; }
      .footer-nav ul li:first-child:before {
        content: none;
        margin-right: 0; }
    .footer-nav ul li:last-child {
      text-align: right;
      float: right;
      margin-right: 20px; }
      .footer-nav ul li:last-child:before {
        content: none; }
.footer-nav p {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #737900;
  display: inline;
  text-align: right; }

.form-btn {
  border-radius: 8px;
  background: #0094d2;
  background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
  border: 1px solid #0094D2;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-shadow: none;
  float: right; }
  .form-btn:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
    border: 1px solid #D1DA22;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    text-shadow: none;
    background-position: 0; }

.hero-content {
  background-image: -o-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 60%);
  background-image: -moz-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 60%);
  background-image: -webkit-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 60%);
  background-image: -ms-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 60%);
  background-image: linear, -180deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 60%;
  top: 195px;
  width: 100%; }

.hero-content-secondary {
  background-image: -o-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100%);
  background-image: -moz-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100%);
  background-image: -webkit-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100%);
  background-image: -ms-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100%);
  background-image: linear, -180deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100%; }
  .hero-content-secondary img {
    width: 100%; }

.hero-text {
  padding-bottom: 20px; }
  .hero-text h2 {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0 0 15px 0;
    font-size: 18px;
    line-height: 1;
    padding-top: 8px; }
    .hero-text h2 a {
      color: #737900; }
  .hero-text p {
    color: #737900;
    margin: 0;
    font-size: 14px; }

.hero-text-active {
  padding-bottom: 20px; }
  .hero-text-active h2 {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin: 0 0 15px 0;
    color: #0094d2;
    line-height: 1;
    padding-top: 8px; }
  .hero-text-active p {
    color: #666666;
    font-size: 14px;
    margin: 0; }

.hero-text-blocks {
  padding: 50px 0 0 0; }

.img-full {
  width: 100%; }

.input-append {
  padding-top: 6px;
  display: block;
  width: 100%; }

.inner-container {
  padding-top: 65px;
  padding-bottom: 60px; }

.internal-blog-nav {
  margin: 35px auto 0;
  width: 100%; }
  .internal-blog-nav ol {
    display: block;
    list-style: none;
    text-align: center;
    float: none;
    margin: 0 auto; }
    .internal-blog-nav ol li {
      display: inline-block; }
      .internal-blog-nav ol li a {
        font-family: "myriad-pro",sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 14pt;
        color: #0094d2; }
      .internal-blog-nav ol li:first-child {
        padding-right: 40px; }
      .internal-blog-nav ol li:last-child {
        padding-left: 40px; }

.main-callouts {
  margin-top: 30px;
  margin-bottom: 50px; }
  .main-callouts img {
    width: 100%; }
  .main-callouts p {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #666666;
    min-height: 90px; }
  .main-callouts h2 {
    display: inline-block;
    padding-right: 8px; }

.new-events {
  background-color: #d6df23;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  padding: 5px 13px;
  text-align: center;
  display: inline-block; }
  .new-events p {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14pt;
    margin: 0;
    line-height: 11pt;
    padding-bottom: 0; }

.no-indent {
  margin-right: -20px;
  margin-left: -20px; }

.preview-info {
  list-style: none;
  padding: 0;
  margin: 0; }
  .preview-info li {
    display: inline-block;
    color: #d6df23;
    font-family: "myriad-pro",sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 13pt; }
    .preview-info li:after {
      content: "\2022";
      padding: 0 6px; }
    .preview-info li:last-child:after {
      content: none; }

.search-bar {
  padding: 5px 20px 5px 0;
  float: right;
  text-align: right; }

.search-btn {
  border-radius: 8px;
  background: #d6df23;
  background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
  border: 1px solid #0094D2;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #666666;
  text-shadow: none;
  background-position: 0; }
  .search-btn:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
    border: 1px solid #0094D2;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-shadow: none;
    background-position: 0; }

.search-filter h4 {
  border-bottom: 1px solid #d6df23;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16pt;
  color: #0094d2;
  line-height: 40px; }
.search-filter ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0; }
  .search-filter ul li {
    padding-bottom: 8px; }

.secondary-nav {
  background: #85c2bd; }
  .secondary-nav ul {
    list-style: none;
    text-align: right;
    padding-right: 20px;
    margin: 10px 0; }
    .secondary-nav ul li {
      display: inline-block; }
      .secondary-nav ul li a {
        font-family: "source-sans-pro",sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 10pt;
        color: white; }
      .secondary-nav ul li:before {
        content: "\2022";
        color: white;
        margin: 0 8px; }
      .secondary-nav ul li:first-child {
        margin-left: 0; }
        .secondary-nav ul li:first-child:before {
          content: none;
          margin-right: 0; }

.signup-btn {
  border-radius: 8px;
  background: #0094d2;
  background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
  background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
  border: 1px solid #0094D2;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: white;
  text-shadow: none; }
  .signup-btn:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
    background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
    border: 1px solid #D1DA22;
    -moz-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 5px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: #666666;
    text-shadow: none;
    background-position: 0; }

.social-icons {
  list-style: none;
  text-align: right;
  margin: 109px 0 5px 0;
  float: right;
  height: 121px;
  vertical-align: baseline; }
  .social-icons li {
    display: inline-block;
    padding-right: 5px; }

.social-icons-blog {
  list-style: none;
  text-align: left;
  margin: 20px 0; }
  .social-icons-blog li {
    display: inline-block;
    margin: 0 6px; }
    .social-icons-blog li:first-child {
      margin-left: 0; }

.social-icons-header {
  list-style: none;
  text-align: left;
  padding: 5px 0 5px 20px;
  margin: 0; }
  .social-icons-header li {
    display: inline-block;
    margin-right: -10px; }

.social-search-bar {
  background: #8dc8e1; }

.update {
  color: #737900;
  margin-top: -10px;
  padding-top: 0; }

.update-scroll {
  margin-top: 30px;
  border-top: #85c2bd solid 1px;
  border-bottom: #85c2bd solid 1px;
  text-align: center;
  height: 100px; }
  .update-scroll h3 a {
    color: #9c1110; }
  .update-scroll.carousel {
    margin-bottom: 0; }

.vevent {
  padding-left: 8px; }
  .vevent .summary {
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16pt;
    display: block;
    padding: 10px 0; }
    .vevent .summary a {
      color: white; }
  .vevent .location {
    display: none; }
  .vevent .dtstart {
    color: #666666;
    font-size: 12pt;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400; }
    .vevent .dtstart:after {
      content: "\2014";
      padding: 0 2px;
      margin: 0; }
  .vevent .dtend {
    color: #666666;
    font-size: 12pt;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-left: -5px; }
  .vevent .description {
    color: #666666;
    font-size: 12pt;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 300;
    padding-top: 10px; }
  .vevent.detail {
    padding-left: 0; }
    .vevent.detail p {
      color: #666666; }
    .vevent.detail .summary {
      font-family: "myriad-pro",sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 30pt;
      padding-bottom: 10px;
      margin: 0 0 20px 0;
      color: #0094d2; }
    .vevent.detail .location {
      display: inline; }
    .vevent.detail .dtend {
      margin-left: 0; }

#blog-intro {
  padding-top: 20px; }
  #blog-intro h2 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    padding-bottom: 10px;
    margin: inherit 0; }
  #blog-intro h4 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666666;
    font-size: 16px;
    padding: 0;
    margin: inherit 0; }
  #blog-intro.first-post {
    padding-top: 50px; }

#doormat-bg {
  border-top: 4px solid #d6df23;
  background: #d6df23;
  margin-top: 50px; }

#events-intro {
  padding: 95px 0 0 0; }
  #events-intro h2 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt; }
  #events-intro h4 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666666;
    font-size: 13pt;
    padding: 15px 0; }

#home-first-block {
  padding-bottom: 50px;
  margin-top: 30px; }

#home-footer {
  border-top: #d6df23 solid 4px;
  position: relative; }

#items-container {
  padding-bottom: 50px; }

#leave-comment-box form textarea {
  background-color: #E6F6F8;
  border: none;
  box-shadow: none;
  width: 100%; }
#leave-comment-box .comment-btn {
  border-radius: 8px;
  background: #0094d2;
  background-image: -o-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -moz-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -webkit-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: -ms-linear-gradient(-90deg, #f1f59a 0%, #d1da22 100%);
  background-image: linear, -180deg, #f1f59a 0%, #d1da22 100%;
  border: 1px solid #D1DA22;
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  color: #666666;
  text-shadow: none;
  background-position: 0; }
  #leave-comment-box .comment-btn:hover {
    border-radius: 8px;
    background-image: -o-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -moz-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -webkit-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: -ms-linear-gradient(-90deg, #8dc8e1 0%, #008ec9 100%);
    background-image: linear, -180deg, #8dc8e1 0%, #008ec9 100%;
    border: 1px solid #0094D2;
    font-family: "source-sans-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-shadow: none; }

#mobile-header {
  z-index: 999999;
  height: 50px;
  background: #8dc8e1;
  margin: -10px 0 0 0;
  padding: 12px 0 0 0; }
  #mobile-header h1 {
    text-align: center;
    font-size: 22pt;
    line-height: 20pt;
    color: #4b9690; }

#mobile-nav {
  z-index: 999998;
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  left: -70%;
  -webkit-transition: left 0.5s ease-in-out;
  -moz-transition: left 0.5s ease-in-out;
  transition: left 0.5s ease-in-out; }
  #mobile-nav .social-icons-mobile {
    list-style: none;
    text-align: left;
    padding: 3px 20px 0 20px;
    margin: 0;
    background: #666666;
    height: 48px;
    border-bottom: black solid 1px;
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.3); }
    #mobile-nav .social-icons-mobile li {
      display: inline-block;
      margin-right: -10px; }
  #mobile-nav ul#mobile-nav-main {
    background: #666666;
    margin: 0;
    padding: 20px;
    list-style: none;
    -moz-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.4); }
    #mobile-nav ul#mobile-nav-main li {
      border-bottom: black solid 1px; }
      #mobile-nav ul#mobile-nav-main li:last-child {
        border-bottom: none; }
      #mobile-nav ul#mobile-nav-main li.open {
        border-bottom: none; }
      #mobile-nav ul#mobile-nav-main li a {
        color: #8dc8e1;
        font-size: 12pt;
        line-height: 3.0em; }
      #mobile-nav ul#mobile-nav-main li .has-dropdown:after {
        content: url(../img/dropdown.png);
        float: right;
        vertical-align: center;
        max-height: 20px;
        padding-top: 5px; }
    #mobile-nav ul#mobile-nav-main li ~ ul:after {
      content: "link"; }
    #mobile-nav ul#mobile-nav-main ul {
      list-style: none;
      color: white;
      display: none;
      background: #595959;
      margin: auto -20px; }
      #mobile-nav ul#mobile-nav-main ul li {
        border-bottom: none;
        padding-left: 40px; }
        #mobile-nav ul#mobile-nav-main ul li a {
          display: block;
          color: white; }
  #mobile-nav.opened {
    left: 0; }

#mobile-menu-btn {
  position: absolute;
  top: 0;
  right: -70px;
  width: 70px;
  background: #8dc8e1;
  border: none;
  box-shadow: none;
  padding: 4px 0 0 0;
  border-radius: 0;
  height: 50px; }
  #mobile-menu-btn img {
    max-width: 30px; }

#mobile-search-function {
  margin-top: 15px; }

#modal-signup {
  z-index: 9999999999; }

#most-recent-blog-pic img {
  width: 100%; }

#privacy {
  background: #d6df23; }

#secondary {
  padding-top: 30px; }
  #secondary h2 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 30pt;
    padding-bottom: 10px;
    margin: inherit 0; }
  #secondary h4 {
    font-family: "myriad-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #666666;
    font-size: 13pt;
    padding: 0;
    margin: inherit 0; }

@media only screen and (max-width: 1200px) {
  nav#main-nav {
    height: 48px; }
    nav#main-nav > ul {
      list-style: none;
      margin: 0;
      height: 48px; }
      nav#main-nav > ul > li {
        top: 0; }
        nav#main-nav > ul > li a {
          font-size: 12px;
          padding: 10px; }
        nav#main-nav > ul > li:nth-child(1) {
          top: 0; }
          nav#main-nav > ul > li:nth-child(1) a {
            padding-right: 23px; }
        nav#main-nav > ul > li:nth-child(2) {
          top: 0; }
          nav#main-nav > ul > li:nth-child(2) a {
            padding-right: 23px; }
        nav#main-nav > ul > li:nth-child(3) {
          top: 0; }
          nav#main-nav > ul > li:nth-child(3) a {
            padding-right: 23px; }
        nav#main-nav > ul > li:nth-child(4) {
          top: 0; }
          nav#main-nav > ul > li:nth-child(4) a {
            margin-top: -61px; }

  .img-full {
    width: auto; }

  .inner-container {
    padding-top: 30px; }

  .logo-resize {
    max-width: 150px; }

  .nav-bg {
    height: 50px; }

  .update-scroll {
    padding: 0 150px 0 150px; }

  .vevent {
    padding-left: 8px; }
    .vevent .summary {
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 16pt;
      color: white;
      display: block;
      padding: 10px 0; }
    .vevent .location {
      display: none; }
    .vevent .dtstart {
      color: #666666;
      font-size: 12pt;
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 400; }
      .vevent .dtstart:after {
        content: "\2014";
        padding: 0 2px;
        margin: 0; }
    .vevent .dtend {
      color: #666666;
      font-size: 12pt;
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 400;
      margin-left: -5px; }
    .vevent .description {
      color: #666666;
      font-size: 12pt;
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 300;
      padding-top: 10px;
      padding-bottom: 10px; } }
@media only screen and (max-width: 980px) {
  .date-box h6 {
    font-size: 24pt;
    padding-bottom: 10px; }
  .date-box h5 {
    font-size: 16pt;
    padding-top: 5px; }

  .doormat-content-blocks .footer-logo {
    display: block;
    float: none;
    margin: 20px auto;
    text-align: center;
    width: 113px; }

  .event-container {
    min-height: 180px !important; }

  .hero-text h2 {
    font-size: 14px; }
  .hero-text p {
    font-size: 12px; }

  .hero-text-active h2 {
    font-size: 14px; }
  .hero-text-active p {
    font-size: 12px; }

  .hero-text-blocks {
    padding: 10px 0 0 0; }

  .inner-container {
    padding-top: 0; }

  .main-callouts h2 {
    font-size: 18px; }

  .social-icons {
    float: none;
    display: block;
    text-align: center;
    margin-top: 25px; }

  .update-scroll {
    padding: 0 40px 0 40px; } }
@media only screen and (max-width: 767px) {
  body {
    padding: 0; }

  .comment-post {
    border-top: #d6df23 solid 2px;
    padding-top: 25px; }

  .container {
    margin: 0 20px; }

  .date-box {
    background-color: white;
    padding: 10px 4px; }
    .date-box h6 {
      font-family: "source-sans-pro",sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32pt;
      padding-bottom: 20px; }
    .date-box h5 {
      font-size: 24pt;
      padding-top: 10px; }

  .main-callouts {
    padding-bottom: 40px; }

  .social-icons {
    height: auto; }

  #events-intro {
    padding: 85px 0 0 0; } }
@media only screen and (max-width: 650px) {
  #clouds {
    top: 680px; } }
@media only screen and (max-width: 480px) {
  .footer-nav ul {
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin: 10px 0; }
    .footer-nav ul li:last-child {
      text-align: center;
      float: none;
      margin-right: 0;
      padding-left: 0;
      display: block; }
      .footer-nav ul li:last-child:before {
        content: none; }

  .update-scroll {
    padding: 0 5px 0 5px; }

  #blog-intro {
    padding-top: 0; }
    #blog-intro.first-post {
      padding-top: 0; }

  #mobile-header h1 {
    font-size: 16pt; } }
/* homepage video container - responsive stuff */
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video {
    padding-top: 0; } }
html.lt-ie9 .dropdown-submenu .dropdown-menu {
  z-index: 999999; }
html.lt-ie9 .dropdown-menu {
  z-index: 9999999; }
html.lt-ie9 .logo-resize {
  z-index: 999999;
  position: relative; }
html.lt-ie9 .footer-nav ul {
  list-style: none;
  text-align: left;
  padding-left: 20px;
  margin: 10px 0;
  float: left; }
  html.lt-ie9 .footer-nav ul li {
    display: inline; }
html.lt-ie9 .footer-nav p {
  font-family: "source-sans-pro",sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #737900;
  display: inline;
  text-align: right; }
html.lt-ie9 nav#main-nav {
  -moz-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  -webkit-box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
  zoom: 1; }
  html.lt-ie9 nav#main-nav > ul {
    position: relative;
    /* This protects the inner element from being blurred */
    background-color: white; }
    html.lt-ie9 nav#main-nav > ul > li {
      top: -106px;
      position: relative; }
      html.lt-ie9 nav#main-nav > ul > li a {
        padding: 5px; }
