@using Clickfarm.AppFramework.Extensions;
@using Clickfarm.Cms.Configuration;
@using Clickfarm.Cms.Core;
@using Clickfarm.Cms.Mvc;
@using KCActorsTheatre.Cms.ContentTypes;
@using KCActorsTheatre.MissionStories;
@using KCActorsTheatre.Data;
@model Clickfarm.Cms.Admin.Mvc.Areas.Admin.ViewModels.ContentGroupMemberViewModel
@{ 
    HomePageMissionStoryWidgetContent content = (HomePageMissionStoryWidgetContent)Model.Content;        
}

<script type="text/javascript">
    $(function () {

        // get mission stories with home page tag for sorting
        ajaxHelper.ajax('/CustomAdmin/MissionStories/GetHomePageMissionStories', {
            data: {},
            type: 'POST',
            success: function (data, textStatus, jqXHR) {
                if (data.Properties != null) {
                    if (data.Properties.Items.length > 0) {
                        var tdHandle = '<td class="sort"><div class="sort-order"><span class="ui-icon ui-icon-carat-2-n-s"></span></div></td>';
                        $.each(data.Properties.Items, function (index, item) {
                            // add to DOM
                            $('#mission-stories > tbody:last').append('<tr id="' + item.ID + '">' + tdHandle + '<td class="content">' + item.Title + '</td></tr>');
                        });
                        // make table visible
                        $('#mission-stories').removeClass('hidden');
                    }
                    else {
                        // make "no mission stories" message visible
                        $('#mission-stories-empty').removeClass('hidden');
                    }
                }
            },
            failureMessageFormat: 'An error occurred trying to retrieve the mission stories: [[errorThrown]]'
        });

        $('#mission-stories tbody').sortable({
            handle: '.sort-order',
            update: function (event, ui) {
                var missionStoryIDs = $(this).sortable('toArray');
                ajaxHelper.ajax('/CustomAdmin/MissionStories/UpdateMissionStoriesDisplayOrder', {
                    data: {
                        missionStoryIDs: missionStoryIDs
                    },
                    type: 'POST',
                    traditional: true,
                    failureMessageFormat: 'An error occurred trying to set the mission stories display order: [[errorThrown]]'
                });
            }
        });

    });
</script>

<style type="text/css">
    #mission-stories td.sort {
        width: 20px;
    }
    #mission-stories td.content {
        width: 100%;
    }
</style>

<label>Title:</label>
<span style="font-style: italic">Maximum length is 50 characters.</span>
<div class="display-field editable-format editable" data-property-name="MissionStoryWidgetTitle">@content.MissionStoryWidgetTitle</div>

<label>Description:</label>
<span style="font-style: italic">Maximum length is 200 characters.</span>
<div class="display-field editable-format editable-textarea" data-property-name="MissionStoryWidgetText">@content.MissionStoryWidgetText</div>

<label>Link Text:</label>
<span style="font-style: italic">Maximum length is 50 characters.</span>
<div class="display-field editable-format editable" data-property-name="MissionStoryWidgetLinkText">@content.MissionStoryWidgetLinkText</div>

<label>Home Page Mission Stories:</label>
<span style="font-style: italic">Mission stories must be published and tagged with the "home page" tag to appear in this list.</span>
<div class="ui-widget-content ui-corner-all ui-widget-cms">
    <table id="mission-stories" class="items-table table-layout hidden">
        <tbody>
            @* populated by javascript *@
        </tbody>
    </table>
    <br class="clear" />
    <div id="mission-stories-empty" class="hidden">There are no Mission Stories with the "home page" tag assigned.</div>
</div>