@using Clickfarm.AppFramework.Extensions;
@using Clickfarm.Cms.Configuration
@using Clickfarm.Cms.Core
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Cms.ContentTypes
@model Clickfarm.Cms.Admin.Mvc.Areas.Admin.ViewModels.ContentGroupMemberViewModel
@{ 
    
    MissionStoryWidgetContent content = (MissionStoryWidgetContent)Model.Content;
    ContentTypeConfigData config = Model.ContentTypeConfigData;

    var fileDocProps = ContentProperties.Empty;
    if (config.Properties.ContainsKey("FileDocumentContentProperties"))
    {
        fileDocProps = config.Properties["FileDocumentContentProperties"];
    }

    var fileImgProps = ContentProperties.Empty;
    if (config.Properties.ContainsKey("FileImageContentProperties"))
    {
        fileImgProps = config.Properties["FileImageContentProperties"];
    }

    string target = null;
    if (content.Target != null)
    {
        HyperlinkContent.LinkTargets.TryGetPropertyValue<string>(content.Target, out target);
    }
}

<label>Title:</label>
<span style="font-style: italic">Maximum length is 50 characters.</span>
<div class="display-field editable-format editable nullable" data-property-name="WidgetTitle">@content.WidgetTitle</div>

<label>Link Text:</label>
<div class="display-field editable-format editable nullable" data-property-name="LinkText">@content.LinkText</div>

@Html.Partial("_TaggedWidgetTagManager", content)