{% block content %}
<div class="inner-page-img">
  <img src="../common/img/KCAT-S2.jpg" alt="">
</div>
<div class="container inner-page-with-image">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>The Effect of Gamma Rays on Man-in-the-Moon Marigolds //</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-9" id="main-content">
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Synopsis</h2>
    		  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.</p>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Photos</h2>
    		  <div class="slider responsive">
  					<div><a href="#"><img src="../common/img/Photo1.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo2.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo3.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo4.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo5.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo6.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo7.jpg" class="show-thumbnails"></a></div>
  					<div><a href="#"><img src="../common/img/Photo1.jpg" class="show-thumbnails"></a></div>
  				</div>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Videos</h2>
    		  <div class="slider responsive">
					<div><a href="#"><img src="../common/img/Photo8.jpg" class="show-thumbnails"></a></div>
					<div><a href="#"><img src="../common/img/Photo8.jpg" class="show-thumbnails"></a></div>
					<div><a href="#"><img src="../common/img/Photo8.jpg" class="show-thumbnails"></a></div>
					<div><a href="#"><img src="../common/img/Photo8.jpg" class="show-thumbnails"></a></div>
					<div><a href="#"><img src="../common/img/Photo8.jpg" class="show-thumbnails"></a></div>
  				</div>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Cast</h2>
    		  <ul id="cast">
    		    <li><span class="role">Director:</span> <a href="#">Joaquin Phoenix</a></li>
    		    <li><span class="role">Producer:</span> <a href="#">Sarah McPherson</a></li>
    		    <li><span class="role">Art Director</span> <a href="#">Hannah Montana</a></li>
    		  </ul>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Reviews</h2>
    		  <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
          <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
          </blockquote>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Education</h2>
	        <ul class="article-title">
	          <li>A title of an article limited to 150 char. Ipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis. <a href="#">Read more...</a></li>
	          <li>A title of an article limited to 150 char. Ipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis. <a href="#">Read more...</a></li>
	          <li>A title of an article limited to 150 char. Ipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis. <a href="#">Read more...</a></li>
	        </ul>
	      </div>
	    </div>
	    <div class="row show-detail-item">
	      <div class="col-sm-12">
	        <h2>Music</h2>
	        <ul class="mp3-links">
	          <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	          <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-music"></span>Name of the Song</a></li>
	        </ul>
	      </div>
	    </div>
	  </div> <!-- Close main-content -->
	  <div class="col-sm-3" id="sidebar">
	    <div class="row show-sidebar-item">
	      <div class="col-sm-12">
	        <button class="btn btn-default btn-block btn-buy">Buy Tickets</button>
	      </div>
	    </div>
	    <div class="row show-sidebar-item">
	      <div class="col-sm-12">
	        <h2>Dates &amp; Times</h2>
    		  <ul class="show-dates">
    		    <li>
      		    <h5>TUES | 04.14.14 | <a href="#">7:30PM</a></h5>
    		    </li>
    		    <li>
      		    <h5>WED | 04.14.14 | <a href="#">6:30PM</a></h5>
    		    </li>
    		    <li>
      		    <h5>SAT | 04.14.14 | <a href="#">2:00PM</a></h5>
    		    </li>
    		    <li>
      		    <h5>SAT | 04.14.14 | <a href="#">7:30PM</a></h5>
    		    </li>
    		    <li>
      		    <h5>TUES | 04.14.14 | <a href="#">7:30PM</a></h5>
    		    </li>
    		  </ul>
	      </div>
	    </div>
	    <div class="row show-sidebar-item">
	      <div class="col-sm-12">
	        <h2>Venue</h2>
    		  <h5>Union Station</h5>
    		  <address>
    		    12345 Road Street<br />
    		    Kansas City, MO 64444<br />
    		  </address>
    		 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3096.930578248813!2d-94.58602499999999!3d39.08527899999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0f03f9cb6bbc5%3A0x1746a6418d59c7dd!2sUnion+Station+Kansas+City%2C+Inc.!5e0!3m2!1sen!2sus!4v1397379380001" width="100%" height="200" frameborder="0" style="border:0"></iframe>
    		  <p>Some brief parking information.</a></p>
	      </div>
	    </div>
	    <div class="row show-sidebar-item">
	      <div class="col-sm-12">
	        <h2>More From 2013-2014 Season</h2>
	        <ul class="other-show-list">
	          <li><h5><a href="#">Hamlet</a></h5></li>
	          <li><h5><a href="#">Rosencrantz and Guildenstern Are Dead</a></h5></li>
	          <li><h5><a href="#">A Number</a></h5></li>
	          <li><h5><a href="#">Crimes of the Heart</a></h5></li>
	        </ul>
	      </div>
	    </div>
	  </div>
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}