{% block content %}
<div class="inner-page-img">
  <img src="../common/img/KCAT-S3.jpg" alt="">
</div>
<div class="container inner-page-with-image">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>Support Us</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <h3>Support the Actors Theatre</h3>
		  <p>A non-profit 501(C)(3) organization, The Actors Theatre depends on donations from the Kansas City community. Our donors include corporations, foundations and arts organizations. But more than anything, we rely on people like you with a passion for keeping premiere theatre in Kansas City.</p>
		  <h3>Donors Include</h3>
		  <ul>
		    <li>The Kauffman Foundation</li>
		    <li>DST Systems, Inc.</li>
		    <li>Shook, Hardy and Bacon</li>
		    <li>Richard J. Stern Foundation for the Arts</li>
		    <li>The Breidenthan&ndash;Snyder Foundation</li>
		    <li>Estelle S. &amp; Robert A. Long Ellis Foundation</li>
		  </ul>
		  <h3>Where Your Dollars Go</h3>
		  <p>57% Directly pays actors, stage managers, and other creative personnel.</p>
		  <p>37% Goes to overhead.</p>
		  <p>6% Goes to marketing.</p>
		  <p>The Actors Theatre is mobile and allocates the majority of funds toward paying our artists. When you donate to us, you’re directly paying a creative professional and allowing them to work and live in Kansas City. As a result, you’re helping to keep talented artists here in our cities, and support the creative culture that is one of our biggest local assets.</p>
		  <blockquote>
            <p>“KC Actors Theatre enriches the cultural life of our city by presenting the great plays we would not otherwise get to see. [....] This company plays a major role in keeping a strong community of professional actors living and working here in Kansas City, and that is one of our city's very greatest assets.”</p>
            <footer>- Felicia Londré, Professor of Drama, University of Missouri-Kansas City </footer>
          </blockquote>
          <p>In the last few years, theatregoers and critics have called us the Best Theatre in Kansas City (The Pitch, 2008), and our productions have been named Best Revival (The Pitch, 2013) and “finest show of the year” (Robert Trussell, Kansas City Star, 2013).</p>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}