{% block content %}
<div class="container inner-page">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>News</h1>
	    <p>Brief descriptor text about news articles.</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <div class="row news">
		    <div class="col-sm-1">
		      <div class="date-callout">
		        <h5>29//</h5>
		      </div>
		    </div>
	      <div class="col-sm-11">
	        <h3>Article Title Lorem Ipsum Dolor Set Amit</h3>
	        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ric. 200 char teaser...</p>
	        <button class="btn btn-default btn-lg">Read More</button>
	      </div>
	    </div>
		  <div class="row news">
		    <div class="col-sm-1">
		      <div class="date-callout">
		        <h5>29//</h5>
		      </div>
		    </div>
	      <div class="col-sm-11">
	        <h3>Article Title Lorem Ipsum Dolor Set Amit</h3>
	        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ric. 200 char teaser...</p>
	        <button class="btn btn-default btn-lg">Read More</button>
	      </div>
	    </div>
	    <div class="row news">
		    <div class="col-sm-1">
		      <div class="date-callout">
		        <h5>29//</h5>
		      </div>
		    </div>
	      <div class="col-sm-11">
	        <h3>Article Title Lorem Ipsum Dolor Set Amit</h3>
	        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ric. 200 char teaser...</p>
	        <button class="btn btn-default btn-lg">Read More</button>
	      </div>
	    </div>
	    <div class="row news">
		    <div class="col-sm-1">
		      <div class="date-callout">
		        <h5>29//</h5>
		      </div>
		    </div>
	      <div class="col-sm-11">
	        <h3>Article Title Lorem Ipsum Dolor Set Amit</h3>
	        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ric. 200 char teaser...</p>
	        <button class="btn btn-default btn-lg">Read More</button>
	      </div>
	    </div>
	    <div class="row news">
		    <div class="col-sm-1">
		      <div class="date-callout">
		        <h5>29//</h5>
		      </div>
		    </div>
	      <div class="col-sm-11">
	        <h3>Article Title Lorem Ipsum Dolor Set Amit</h3>
	        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
	        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ric. 200 char teaser...</p>
	        <button class="btn btn-default btn-lg">Read More</button>
	      </div>
	    </div>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}