{% block content %}
<div class="container inner-page">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>Our People</h1>
	    <p>Brief descriptor text about what who these people are.</p>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <div class="row person">
	      <div class="col-sm-3">
	        <img src="/common/img/21.jpg" class="img-circle" alt="Image description">
	      </div>
	      <div class="col-sm-9">
	        <h2>James Jameson</h2>
	        <h3>Founder</h3>
	        <p>Walter has a distinguished career as an Equity Actor in Kansas City for the last 12 years.  He has performed major roles in many Kansas City theatres. He’s also appeared in numerous national radio and television commercials, and has served for a number of years as the spokesperson for Children International.  Walter is very active in the growing Kansas City film industry, performing in a number of feature films, TV movies, independent films and industrials. Some of his favorite stage roles include Eugene in Yellowman; Othello; Touchstone in As You Like It; Uncle Peck in How I Learned To Drive; Testifier Polyneices in The Gospel at Colonus; Mr. M in My Children! My Africa!; Buks in Valley Song; and Jekyll in The Strange Case of Dr. Jekyll and Mr. Hyde. Walter’s performances have led the Kansas City Star to declare him “an up and coming talent to watch for”, “a delight to behold”, “one of KC’s finest actors”, and “arguably the most successful minority actor in the region”.</p>
	      </div>
	    </div>
		  <div class="row person">
	      <div class="col-sm-3">
	        <img src="/common/img/36.jpg" class="img-circle" alt="Image description">
	      </div>
	      <div class="col-sm-9">
	        <h2>James Jameson</h2>
	        <h3>Founder</h3>
	        <p>Walter has a distinguished career as an Equity Actor in Kansas City for the last 12 years.  He has performed major roles in many Kansas City theatres. He’s also appeared in numerous national radio and television commercials, and has served for a number of years as the spokesperson for Children International.  Walter is very active in the growing Kansas City film industry, performing in a number of feature films, TV movies, independent films and industrials. Some of his favorite stage roles include Eugene in Yellowman; Othello; Touchstone in As You Like It; Uncle Peck in How I Learned To Drive; Testifier Polyneices in The Gospel at Colonus; Mr. M in My Children! My Africa!; Buks in Valley Song; and Jekyll in The Strange Case of Dr. Jekyll and Mr. Hyde. Walter’s performances have led the Kansas City Star to declare him “an up and coming talent to watch for”, “a delight to behold”, “one of KC’s finest actors”, and “arguably the most successful minority actor in the region”.</p>
	      </div>
	    </div>
	    <div class="row person">
	      <div class="col-sm-3">
	        <img src="/common/img/25.jpg" class="img-circle" alt="Image description">
	      </div>
	      <div class="col-sm-9">
	        <h2>James Jameson</h2>
	        <h3>Founder</h3>
	        <p>Walter has a distinguished career as an Equity Actor in Kansas City for the last 12 years.  He has performed major roles in many Kansas City theatres. He’s also appeared in numerous national radio and television commercials, and has served for a number of years as the spokesperson for Children International.  Walter is very active in the growing Kansas City film industry, performing in a number of feature films, TV movies, independent films and industrials. Some of his favorite stage roles include Eugene in Yellowman; Othello; Touchstone in As You Like It; Uncle Peck in How I Learned To Drive; Testifier Polyneices in The Gospel at Colonus; Mr. M in My Children! My Africa!; Buks in Valley Song; and Jekyll in The Strange Case of Dr. Jekyll and Mr. Hyde. Walter’s performances have led the Kansas City Star to declare him “an up and coming talent to watch for”, “a delight to behold”, “one of KC’s finest actors”, and “arguably the most successful minority actor in the region”.</p>
	      </div>
	    </div>
	    <div class="row person">
	      <div class="col-sm-3">
	        <img src="/common/img/36.jpg" class="img-circle" alt="Image description">
	      </div>
	      <div class="col-sm-9">
	        <h2>James Jameson</h2>
	        <h3>Founder</h3>
	        <p>Walter has a distinguished career as an Equity Actor in Kansas City for the last 12 years.  He has performed major roles in many Kansas City theatres. He’s also appeared in numerous national radio and television commercials, and has served for a number of years as the spokesperson for Children International.  Walter is very active in the growing Kansas City film industry, performing in a number of feature films, TV movies, independent films and industrials. Some of his favorite stage roles include Eugene in Yellowman; Othello; Touchstone in As You Like It; Uncle Peck in How I Learned To Drive; Testifier Polyneices in The Gospel at Colonus; Mr. M in My Children! My Africa!; Buks in Valley Song; and Jekyll in The Strange Case of Dr. Jekyll and Mr. Hyde. Walter’s performances have led the Kansas City Star to declare him “an up and coming talent to watch for”, “a delight to behold”, “one of KC’s finest actors”, and “arguably the most successful minority actor in the region”.</p>
	      </div>
	    </div>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}