{% block content %}
	<div class="container">
		<div class="row">
		  <div class="col-xs-12">
		    <h1>Main Header</h1>
		    <h2>Second Page Header</h2>
		    <h3>Third-level headline</h3>
		    <h4>Fourth-level headline</h4>
		    <h5>Fifth-level headline</h5>
		    <h6>Sixth-level headline</h6>
		    <p>This is a paragraph with a <a href="#">long link right here!</a> Lorem ipsum dolor sit amet, esse ludus vim id. Ut elitr putent pri, volumus sapientem est ne. Scaevola temporibus in eos. Percipit lobortis ea vis, id assum postulant comprehensam ius. Ad vel stet ferri gloriatur. Ius ad prima graece meliore. Ea qui dicat invidunt, pro movet praesent vulputate cu, mel quot meis fierent in.</p>
		    <h3>These are lists.</h3>
		    <ul>
		      <li>This</li>
		      <li>is</li>
		      <li>an</li>
		      <li>unordered</li>
		      <li>list!</li>
		    </ul>
		    <ol>
		      <li>This</li>
		      <li>is</li>
		      <li>an</li>
		      <li>ordered</li>
		      <li>list!</li>
		    </ol>
		    <h3>These are buttons.</h3>
		    <!-- Standard button (override bootstrap styling at top of LESS file -->
        <button type="button" class="btn btn-default">Default</button>  
        <!-- Secondary button (override bootstrap styling at top of LESS file -->
        <button type="button" class="btn btn-primary">Primary</button>
        <!-- Large buttons -->
        <p style="margin-top:20px;">
          <button type="button" class="btn btn-primary btn-lg">Large button</button>
          <button type="button" class="btn btn-default btn-lg">Large button</button>
        </p>
        <h3>These are image classes.</h3>
        <img src="../assets/img/style-test.jpg" alt="..." class="img-rounded test-img">
        <img src="../assets/img/style-test.jpg" alt="..." class="img-circle test-img">
        <img src="../assets/img/style-test.jpg" alt="..." class="img-thumbnail test-img">
		  </div>
		</div>
	</div>
{% endblock %}