{% block content %}
<div class="inner-page-img">
  <img src="../common/img/KCAT-S1.jpg" alt="">
</div>
<div class="container inner-page-with-image">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>Virtual Theatre</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <h3>Innovative. Immersive. Inspiring. </h3>
		  <p>Each season, our audiences experience classic plays in a dynamic setting. Using such Kansas City landmarks as Union Station, Webster House and the Muehlebach Funeral Home, we create timeless viewing experiences in unique environments.</p>
		  <p>Our “virtual theatre” is an immersive journey that recreates the world of the play. For the Tony Award-winner Journey’s End, we brought the trenches of 1918 France to the stage of the National WWI Museum. The producti invited theatregoers to explore history, while raising prescient questions for a nation at war today.</p>
		  <p>The Actors Theatre produces one virtual theatre show per season, in keeping with our mission to <strong>challenge and enlighten the Kansas City community</strong> through the dramatic arts.</p>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->
{% endblock %}