<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <authentication configProtectionProvider="RSAProvider">
      <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
        xmlns="http://www.w3.org/2001/04/xmlenc#">
        <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
        <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
          <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
              <KeyName>Rsa Key</KeyName>
            </KeyInfo>
            <CipherData>
              <CipherValue>skNn7oDPBaHAKpD1UO3+OmNyUpSMKoSCy/aCw+kE1aOTWNmpuCFNBfbviaHpUrrto+wziaJTbNjxiMEQyKMsif3ezQE/D8U2bX3ZFYsB6PubqaGZQYPq2feG+C/BP1ITtKii5qSwfAr32kndIXYS6JqXi/aFOEFxG/AiAsg9SU0=</CipherValue>
            </CipherData>
          </EncryptedKey>
        </KeyInfo>
        <CipherData>
          <CipherValue>oYG0dmD0Y9CDI3alkJhe9f2uD/yWpCFxfVzO8+9bzV5q1MltTQQZWYAzM7tUqCpi+kp3kOBcHT4gLztf1P7FrpYMTXT72P1D7XiRO48PQpP/svvWq8ztwZ8XWYMH8MczOnwJrOoHQUwwZIG3diQyqzGehmiQ8+lKIxRah+x7mzcc1iWxZ7liKHXHDIQbcb/bwHzfL1rdfQ4CaPTiUdyP/vNZYnuDMwBw18IYQ5oOk3KS187Re93XtMFmmfj5poNQoEbJKVxAdJWJ13aNTJzZ/qvRHZ4TGFjGzsa5z43BDmV+VF1ZnjO+9S2PqvwFKlQNXTjh77VnPGcVuKbbvcsUk1cC2+lkTBLbytXtRH+xx4Wver3NUDyFOcJbGTwklnVCpekOu0QED54/7Q0kPgThQ4fUAf1XFT2BeWoZ8F4DHyg=</CipherValue>
        </CipherData>
      </EncryptedData>
    </authentication>
    <authorization>
      <deny users="?" />
    </authorization>
    <customErrors mode="Off">
      <error redirect="/page-not-found" statusCode="404" />
    </customErrors>
  </system.web>
  <configProtectedData>
    <providers>
      <add name="RSAProvider" type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" keyContainerName="ClickFarmKeys" useMachineContainer="true" />
    </providers>
  </configProtectedData>
</configuration>