@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@using KCActorsTheatre.Cms
@model KCActorsTheatre.Web.ViewModels.NewsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
    var req = Model.RequestContent;
    //var page = req.Page as Clickfarm.Cms.Core.WebPage;
}
@section scripts
{
    <script type="text/javascript">
        $(function() {
            $('#BackButton').click(function() {
                location.href = '/news';
            });
        });
    </script>
    
}
<div class="container inner-page">
  <div class="row header-row">
	  <div class="col-xs-12">
	    <h1>@Model.Article.Title</h1>
	  </div>
	</div>
	<div class="row">
	  <div class="col-sm-12" id="main-content">
		  <h6>@Model.Article.AuthorOrDefault - @Model.Article.ExtendedDate</h6>
	      <p>@Model.Article.Body</p>
          <button id="BackButton" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-chevron-left"></span>Back</button>
  	</div> <!-- Close main-content -->
	</div> <!-- Close row -->
</div> <!-- Close container -->