@model Clickfarm.Cms.Core.ContentGroupMember
@using Clickfarm.Cms.Core
@{
    if (Model.Content is ImageContent)
    {
        ImageContent imageContent = (ImageContent)Model.Content;   
        <div class="item">
            <img src="@imageContent.ImageUrl" alt="">
        </div>
    }
}
