@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@using KCActorsTheatre.Cms
@model KCActorsTheatre.Web.ViewModels.InnerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}
@section Styles {
	<style type="text/css">
        .hero-content    
        {
              background-image: -o-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100px) !important;       
              background-image: -moz-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100px) !important;
              background-image: -webkit-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100px) !important;
              background-image: -ms-linear-gradient(-90deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100px) !important;
              background-image: linear, -180deg, rgba(214, 223, 34, 0.3) 0%, rgba(214, 223, 34, 0) 100px !important;
        }
    	</style>
}
<div class="container inner-container">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid first-block">
                <div class="span12 offset1" id="secondary">
                    <div id="hcn_container" style="padding:20px 0 0 60px;">
                        <noscript>
                            <iframe src="http://KCActorsTheatre.thehcn.net/embedsiteproxy.php"
                                id="hcn_frame_proxy"
                                name="hcn_frame_proxy"
                                style="width: 5px; height: 5px; position: absolute; left: -500px; bottom: 0;"
                                frameborder="0"
                                marginheight="0"
                                marginwidth="0"
                                scrolling="no">
                            </iframe>
                            <iframe src="http://KCActorsTheatre.thehcn.net/index.php"
                                id="hcn_frame_content"
                                name="hcn_frame_content"
                                style="width: 800px; height: 1500px;"
                                frameborder="0"
                                marginheight="0"
                                marginwidth="0"
                                scrolling="auto">
                            </iframe>
                        </noscript>
                    </div>
                    <script type="text/javascript">
                        var hcnHost = 'http://KCActorsTheatre.thehcn.net';
                        var hcnPage = 'index.php';
                        var hcnContainer = 'hcn_container';
                        var hcnFrameWidth = 800;
                        var matches = window.location.search.match(/[?&]hcn=([^&]+)/i);
                        if (matches && matches[1]) {
                            hcnPage = decodeURIComponent(matches[1]);
                        }
                        if (hcnHost && document.getElementById(hcnContainer)) {
                            var hcnScript = document.createElement('script');
                            hcnScript.type = 'text/javascript';
                            hcnScript.src = hcnHost + '/javascript/embedsitemaster.js';
                            document.getElementsByTagName('head')[0].appendChild(hcnScript);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>