@model KCActorsTheatre.Web.ViewModels.MissionStoryViewModel
@{
    Layout = "~/Views/Shared/Layouts/Layout.cshtml";
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}
@section Body {

    @if (Model.MissionStory != null)
    {
        <div class="row header-row">
            <div class="col-xs-12">
                <h1>@Model.MissionStory.Title</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12" id="main-content">
                @Html.Raw(Model.MissionStory.Body)
            </div>
        </div>    
    }
    else
    {
        <text>Mission Story not found.</text>
    }
}