@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@using KCActorsTheatre.Cms
@model KCActorsTheatre.News.Article

<div class="row news">
    <div class="col-sm-1">
        <div class="date-callout">
            <h5>29//</h5>
        </div>
    </div>
    <div class="col-sm-11">
        <h3>@Model.Title</h3>
        <h6>April 12, 2014 &ndash; Author Name (optional)</h6>
        <p>@Model.Summary</p>
        <button class="btn btn-default btn-lg">Read More</button>
    </div>
</div>