@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@using KCActorsTheatre.Cms
@model KCActorsTheatre.Web.ViewModels.NewsViewModel

@if (Model.NewsArticles.Any())
{
    foreach (var newsArticle in Model.NewsArticles)
    {
        @Html.Partial("NewsArticleSummary", newsArticle)
    }
    <a style="display: none;" href="@Url.Action("Index", "News")?id=@Model.Page"></a>
}
else
{
    <div style="text-align: center;">
        <label>No more articles found</label>
    </div>
    <a style="display: none;"></a>
}