<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
      <authentication configProtectionProvider="RSAProvider" xdt:Transform="Insert">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
              <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
              <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <KeyName>Rsa Key</KeyName>
              </KeyInfo>
              <CipherData>
                <CipherValue>JwRq7Lr1dqNxUhG5NHao2sbU7NKpb8IJLCVsxGbpSmEVNYECgPfLBpg1Yter+tHm8z2vt3yD1VKStkI7gp2HOoNX1pSukySxJqOIe+bNeQFXVZd2YsmIp0fHKx2cHeBPqF1qKCTxwN0P74WO75T92Ea7zUlBnTvydpOWH+bB8ZI=</CipherValue>
              </CipherData>
            </EncryptedKey>
          </KeyInfo>
          <CipherData>
            <CipherValue>QlbDiPosLI+I3pY/DuoD3eYSZP232ZGZBZ3qrO8yXX0Qc4TE2Kxx99m/g9qyThtYapKm8rm2nxJVTKFQwBT75zxbMVod0D2CnlwU6CMMP0PucKdwQtRNwnjjETSUWc30fjyaIjjiYSWzIbde33E/jh0Cv1L9pKV0I2+InIm/siRgy8sqvQ8DJxklu/ZHIVCPGQQbVZBnYTw1UAjlmEfdzSMr5K+fMvxOFlNdOv7kE/0xnz0/f0nhkNubL5T2TfF11c3egb/C1oEmTrNic2hfUeeSugm8xE6nH2gfnB5Y0iLTdAgqt1NpqJUZcB1BJAXXDtt4nD5AQNM8hYEk37WuA7dv5BF65sHRDd/OMGZQXvDhg6fYJHVR1uV0ougO8/XRA1rTg4bPxUulX4IL/p603nXxkGPi2XJwCcdk/R7Jqyzdb1/0U7Kknw==</CipherValue>
          </CipherData>
        </EncryptedData>
      </authentication>
      <authorization xdt:Transform="Insert">
        <deny users="?" />
      </authorization>
    </system.web>
</configuration>