<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <system.web>
      <authentication configProtectionProvider="RSAProvider" xdt:Transform="Insert">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
          xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
              <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
              <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <KeyName>Rsa Key</KeyName>
              </KeyInfo>
              <CipherData>
                <CipherValue>x3Ph7nVzssC70iASBV5Y7X40VaV1ZvICkv0IzN3iU6FVkqUk9QY5pd9Zl3J/mJ/1qZUpMxQE5KRHK1uWjmGhX5ZIr8jKwwXQe3AHR2ohSSvLpjmOG0DPfzlZ6sR3GIKR40Z1OSh7a8ZfkaEvUYGHt1fqLsKFOmgU7Slg2IAiaQA=</CipherValue>
              </CipherData>
            </EncryptedKey>
          </KeyInfo>
          <CipherData>
            <CipherValue>aQK1FpPp/QD8IRSywSQEX0cqTG2v5tdBknrr0ZbH9EG+oV2RUspkwqydzhszyG1xfCMph8m0MZuTKG1dqANIFM9AiuohhrNdPRcdhVYijWhjTWWuMjwRCJJ4he9KXNCBKlOhMJl4p8U0vizmTFgcAWUv0eRx5Sfy3cxUshd7pY8V48Qc8dv3TfzUzB3tCJYwUSY59XQIW8q8rc+DN9FLArmwMSo9FreH91N6J6c2SlsrwUTwi4KaLaWQX1JVA5kzvaPWTk/5LmMJFtAVsV9kAH3UgGs0KfMKyKZaNHVWBRFqxErNSAH5l+56BcgQyT3JcJqA0K8oAT1CmSTcqSleJpXEGZpmTdqqkWfTFJ3EH6htgzmj6lp+SmEPm+XmORnA7ZM/HM46bNSkYk3SzXAEX23cTa88vFPHHCHcm5fi8O4=</CipherValue>
          </CipherData>
        </EncryptedData>
      </authentication>
      <authorization xdt:Transform="Insert">
        <deny users="?" />
      </authorization>
    </system.web>
</configuration>