<div id="navbar-wrapper">
  <nav class="navbar yamm navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand visible-lg" href="index"><img src="../common/img/KCAT-Web-Logo.png" alt="Kansas City Actors Theatre"></a>
        <a class="navbar-brand hidden-lg" href="index"><img src="../common/img/KCAT-Web-Logo-Small.png" alt="Kansas City Actors Theatre"></a>
      </div>
      
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown yamm-fw">
          <a href="content" class="dropdown-toggle" data-hover="dropdown">Mission</a>
            <ul class="dropdown-menu" id="drop-1">
              <li><a href="virtual-theatre">Virtual Theatre</a></li>
              <li><a href="news">News</a></li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
          <a href="season-landing" class="dropdown-toggle" data-hover="dropdown">Current Season</a>
            <ul class="dropdown-menu" id="drop-2">
              <li><a href="cs-1">The Effect of Gamma Rays on Man-in-the-Moon Marigolds</a></li>
              <li><a href="cs-1">Hamlet</a></li>
              <li><a href="cs-1">Rosencrantz and Guilderstern Are Dead</a></li>
              <li><a href="cs-1">A Number</a></li>
              <li><a href="cs-1">Crimes of the Heart</a></li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
          <a href="content" class="dropdown-toggle" data-hover="dropdown">Support</a>
            <ul class="dropdown-menu" id="drop-3">
              <li><a href="donate">Donate</a></li>
              <li><a href="donate">Volunteer</a></li>
              <li><a href="donate">Sponsors</a></li>
              <li><a href="donate">Events</a></li>
              <li><a href="donate">Gift Baskets</a></li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
          <a href="people" class="dropdown-toggle" data-hover="dropdown">People</a>
            <ul class="dropdown-menu" id="drop-4">
              <li><a href="people">Founders</a></li>
              <li><a href="people">Board</a></li>
              <li><a href="people">Core Group</a></li>
            </ul>
          </li>
          <li class="dropdown yamm-fw">
          <a href="season-landing" class="dropdown-toggle" data-hover="dropdown">Past Seasons</a>
            <ul class="dropdown-menu" id="drop-5">
              <li><a href="season-landing">Season 9</a></li>
              <li><a href="season-landing">Season 8</a></li>
              <li><a href="season-landing">Season 7</a></li>
              <li><a href="season-landing">Season 6</a></li>
              <li><a href="season-landing">Season 5</a></li>
              <li><a href="season-landing">Archive</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>