div.sortable-block {
    float: left;
    margin-right: 20px;
    width: 400px;
}

ul.sortable {
    list-style-type: none;
    margin: 0;
    min-height: 30px;
    padding: 20px 10px 10px;
    width: 380px;
}

ul.sortable li {
    cursor: move;
    margin: 0 5px 5px;
    padding: 5px 5px 5px 25px;
    position: relative;
    width: 340px;
}

ul.sortable li span {
    left: 4px;
    position: absolute;
    top: 5px;
}

.pointer {
    cursor: pointer;
}

ui-accordion-content { overflow-y:hidden !important;}

@-webkit-keyframes throbber {
  0% {
  background: #E8E3D3;
  }

  10% {
    background: #B32320;
  }

  40% {
  background: #E8E3D3;
  }
}

@-moz-keyframes throbber {
  0% {
  background: #E8E3D3;
  }

  10% {
    background: #B32320;
  }

  40% {
  background: #E8E3D3;
  }
}

@-o-keyframes throbber {
  0% {
  background: #E8E3D3;
  }

  10% {
    background: #B32320;
  }

  40% {
  background: #E8E3D3;
  }
}

@keyframes throbber {
  0% {
  background: #E8E3D3;
  }

  10% {
    background: #B32320;
  }

  40% {
  background: #E8E3D3;
  }
}

/* :not(:required) hides these rules from IE9 and below */
.throbber:not(:required) {
  -webkit-animation: throbber 2000ms 300ms infinite ease-out;
  -moz-animation: throbber 2000ms 300ms infinite ease-out;
  -ms-animation: throbber 2000ms 300ms infinite ease-out;
  -o-animation: throbber 2000ms 300ms infinite ease-out;
  animation: throbber 2000ms 300ms infinite ease-out;
  background: #E8E3D3;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.throbber:not(:required):before, .throbber:not(:required):after {
  background: #E8E3D3;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.throbber:not(:required):before {
  -webkit-animation: throbber 2000ms 150ms infinite ease-out;
  -moz-animation: throbber 2000ms 150ms infinite ease-out;
  -ms-animation: throbber 2000ms 150ms infinite ease-out;
  -o-animation: throbber 2000ms 150ms infinite ease-out;
  animation: throbber 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.throbber:not(:required):after {
  -webkit-animation: throbber 2000ms 450ms infinite ease-out;
  -moz-animation: throbber 2000ms 450ms infinite ease-out;
  -ms-animation: throbber 2000ms 450ms infinite ease-out;
  -o-animation: throbber 2000ms 450ms infinite ease-out;
  animation: throbber 2000ms 450ms infinite ease-out;
  right: -1.6em;
}


div.editable-left-column {
    float:left;
    width:100px;
}
div.editable-right-column {
    float: left;
    width: 400px;
}
div.sort-order {
    cursor: move;
    margin: 2px -12px 0 0;
    padding:0 5px;
}

span.required { font-weight :bold; color: #B32320 !important; }