@using Clickfarm.AppFramework.Extensions
@using System.Globalization
@model KCActorsTheatre.Web.ViewModels.KCActorsTheatreViewModel
@if (Model != null && Model.AnnouncementWidgetAnnouncements != null && Model.AnnouncementWidgetAnnouncements.Count() > 0)
{
    <div class="sidebar-item">
        <div class="row heading-row">
            <div class="col-xs-12 heading">
                <h3>Announcements</h3>
            </div>
            <div class="col-xs-12">
                <ul class="resource-list">
                    @foreach (var announcement in Model.AnnouncementWidgetAnnouncements)
                    {
                        <li class="news-item">
                            <h6>@announcement.Title</h6>
                            <p class="additional-info">@announcement.DatePublished.Value.ToString(@"dddd, MMMM dd yyyy", CultureInfo.CurrentCulture)</p>
                        </li>
                    }
                </ul>
                <a href="#TODO" class="pull-right widget-more-link">More Announcments <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
            </div>
        </div>
    </div>
}