@using Clickfarm.AppFramework.Extensions
@using System.Globalization
@model KCActorsTheatre.Web.ViewModels.KCActorsTheatreViewModel
@if (Model != null && Model.ConnectWidgetContacts != null && Model.ConnectWidgetContacts.Count() > 0)
{
    <div class="sidebar-item">
        <div class="row heading-row">
            <div class="col-xs-12 heading">
                <h3>Connect</h3>
            </div>
            <div class="col-xs-12">
                <ul class="connect-list">
                    @foreach (var contact in Model.ConnectWidgetContacts)
                    {
                        <li class="contact">
                            <h6>@contact.FirstName @contact.LastName</h6>
                            @if (!string.IsNullOrWhiteSpace(contact.Email))
                            {
                                <p class="additional-info"><span class="glyphicon glyphicon-envelope"></span> @contact.Email</p>
                            }
                            @if (!string.IsNullOrWhiteSpace(contact.Phone))
                            {
                                <p class="additional-info"><span class="glyphicon glyphicon-phone-alt"></span> @contact.Phone</p>
                            }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}