@using Clickfarm.Cms.Mvc
<div id="manage-tags-form" title="Manage Tags">
    <div class="sortable-block ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all tags-header">
            Assigned Tags:
        </div>
        <ul id="sortable-assigned-tags" class="sortable" data-bind="foreach: tags">
            <li class="ui-state-default ui-corner-all" data-bind="attr: { 'data-tag-id': tagID }">
                <span class="ui-icon ui-icon-carat-2-e-w"></span>
                <div class="tag-name" data-bind="text: name"></div>
            </li>
        </ul>
    </div>
    <div id="available-tags-container" class="sortable-block ui-widget-content ui-corner-all ui-widget-cms">
        <div class="ui-dialog-titlebar ui-titlebar-cms ui-widget-header ui-corner-all tags-header">
            Available Tags:
        </div>
        <div>
            <a id="show-all-tags" href="#" style="float: right;">Show All</a>
            <label for="find-tags-name">Find By Name:</label><br />
            <input type="text" id="find-tags-name" style="width: 50%;" />
        </div>
        <div data-bind="visible: retrievingTags()" class="throbber" style="margin-top: 15px;">
            @* loading animation *@
        </div>
        <div data-bind="visible: !initialSearch() && !retrievingTags() && !anyTags()" style="padding: 20px 10px 10px;">No tags were found, or they're already assigned.</div>
        <ul id="sortable-available-tags" class="sortable" data-bind="foreach: tags">
            <li class="ui-state-default ui-corner-all" data-bind="attr: { 'data-tag-id': tagID }">
                <span class="ui-icon ui-icon-carat-2-e-w"></span>
                <div class="tag-name" data-bind="text: name"></div>
            </li>
        </ul>
    </div>
    <br class="clear" />
</div>