@model KCActorsTheatre.Web.Areas.CustomAdmin.ViewModels.Resources.EditViewModel
@using Clickfarm.AppFramework.Extensions
@{
    var resource = (KCActorsTheatre.Resources.PresentationResource)Model.Resource;
}
<label>Slideshare ID:</label>
<div class="display-field editable-format editable" data-property-name="SlideshareID">@resource.SlideshareID</div>
