@using Clickfarm.Cms.Mvc
@using KCActorsTheatre
@using KCActorsTheatre.Cms
@model KCActorsTheatre.Web.ViewModels.InnerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";    
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}

<div class="container inner-page">
    <div class="row">
        <div class="col-xs-12">
            <h2>@page.Title</h2>
            <p>@Html.Content(page, "Body Copy")</p>
        </div>
    </div>
</div>