//Media Queries
//Large Query
@media (min-width: @screen-lg) {
  .navbar {
    padding-top:20px;
    padding-bottom:20px;
    .navbar-right {
      margin-top:41px;
    }
  }
  .yamm .dropdown.yamm-fw .dropdown-menu {
    margin-top:-23px;
  }
}

//Small Query
@media (max-width: @screen-md) {
  .navbar-brand {
    padding-left:0;
  }
  .yamm .dropdown.yamm-fw .dropdown-menu {
    margin-top:-20px;
  }
}

//X-Small Query
@media (max-width: 767px) {
  h1 {
    font-size:24px;
  }
  h2 {
    font-size:20px;
  }
  h3 {
    font-size:20px;
  }
  h4 {
    font-size: 18px;
  } 
  h5 {
    font-size:16px;
  }
  h6 {
    font-size:14px;
  }
  footer#footer {
    //padding-left: 20px;
    //padding-right: 20px;
  } // Sticky footer settings.
  #footer {
    p {
      font-size:14px;
    }
  }
  .carousel {
    margin-top: 60px;
  }
  .carousel-indicators {
    display:none;
  }
  .date-callout {
    display:none;
  }
  .inner-page {
    margin-top: 100px;
  }
  .inner-page-img {
    margin-top:70px;
  }
  #homepage-current-season {
    padding-top: 20px;
    padding-bottom:20px;
  }
  .navbar {
    padding-top:5px;
    padding-bottom:5px;
  }
  .navContainer {
    padding-right:10px;
    padding-left:10px;
  }
  .show-preview {
    .show-header {
      h3, h4 {
        top:20px;
      }
    }
  }
  .yamm .dropdown.yamm-fw .dropdown-menu {
    margin-top:0;
  }
  #navbar-wrapper {
    margin-top:0;
  }
}