@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Cms.AppTypes
@model KCActorsTheatre.Web.ViewModels.KCActorsTheatreViewModel
@{
    Layout = "~/Views/Shared/Layouts/Inner.cshtml";
    var app = (KCActorsTheatreApp)Model.RequestContent.App;
    var rq = Model.RequestContent;
    var page = (Clickfarm.Cms.Core.WebPage)rq.Page;
}

@section Scripts {
    @RenderSection("Scripts", required:false)
}

@section Body {

    <div class="col-md-8" id="main-content">
        @RenderSection("Body")
    </div>
    <div class="col-md-4" id="sidebar">
        <div class="sidebar-inner">
            @RenderSection("Sidebar")
        </div>
    </div>

}