@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Cms.AppTypes
@model KCActorsTheatre.Web.ViewModels.KCActorsTheatreViewModel
@{
    Layout = "~/Views/Shared/Layouts/Layout.cshtml";
    var app = (KCActorsTheatreApp)Model.RequestContent.App;
    var rq = Model.RequestContent;
    var page = (Clickfarm.Cms.Core.WebPage)rq.Page;
}

@section Scripts {
    @RenderSection("Scripts", required:false)
}

@section Body {

    @* TODO: IMPLEMENT BREADCRUMB NAV *@
    <div class="row header-row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Second Level</a></li>
                <li class="active">Current Page</li>
            </ol>
        </div>
    </div>
    @RenderSection("Body")
}