@using Clickfarm.Cms.Mvc
@model KCActorsTheatre.Web.ViewModels.PeopleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var req = Model.RequestContent;
    var page = req.Page as Clickfarm.Cms.Core.WebPage;
}

<div class="container inner-page">
    <div class="row header-row">
        <div class="col-xs-12">
            <h1>Our People</h1>
            <p>@Html.Content(page, "Body Copy")</p>
        </div>
    </div>
    @Html.Partial("_People", Model)
</div>
