@using Clickfarm.AppFramework.Extensions;
@using Clickfarm.Cms.Configuration
@using Clickfarm.Cms.Core
@using Clickfarm.Cms.Mvc
@using KCActorsTheatre.Cms.ContentTypes
@model Clickfarm.Cms.Admin.Mvc.Areas.Admin.ViewModels.ContentGroupMemberViewModel
@{
    RotatorVideoContent content = (RotatorVideoContent)Model.Content;
    ContentTypeConfigData config = Model.ContentTypeConfigData;
}
<label>Title:</label>
<div class="display-field editable-format editable nullable" data-property-name="Title">@content.Title</div>
<label>YouTubeKey:</label>
<div class="display-field editable-format editable nullable" data-property-name="YouTubeKey">@content.YouTubeKey</div>
<label>Caption:</label>
<div class="display-field editable-format editable-textarea nullable" data-property-name="Caption">@content.Caption</div>